body {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
  background-color: black;
  background-image: url('/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll; /* allow it to scroll with the page */
  background-position: center top;
}
textarea,
input {
  width: auto;
}
.error {
  color: red;
}
a {
  text-decoration: none;
  color: #666;
}
