body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: black;
}
.table {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  color: white;
}
textarea,
input {
  width: auto;
}
h2,
label {
  color: white;
  padding-left: 20px;
  padding-top: 20px;
}
table {
  width: 80%;
  border-collapse: collapse;
  background-color: #444444;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
th,
td {
  border: 1px solid black;
  padding: 5px;
  text-align: left;
}
th {
  background-color: #888;
}
.error {
  color: red;
}
a {
  text-decoration: none;
  color: #666;
}
.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  z-index: -1; /* optional, to push behind content */
}
.faded-img {
  position: absolute;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  opacity: 50%;
  overflow: hidden;
}
.image-container {
  z-index: -1;
  position: absolute;
  width: 80%;
  height: 80%;
  overflow: hidden;
}
.btn {
  display: inline-block;
  padding: 0.5em 1em;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}
.btn:hover {
  background-color: #0056b3;
}
form {
  padding-left: 20px;
  color: white;
}
h3 {
  padding-left: 20px;
}
footer {
  padding-left: 20px;
}
p {
  color: white;
}
h1 {
  color: white;
}
